:root {
  --clr-grn: rgb(84, 242, 84);
  --clr-blk: #272626;
}

.query__container {
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query__heading-blk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.query__heading,
.query__txt {
  color: var(--clr-grn);
  margin-bottom: 1rem;
}

.query__txt {
  font-size: 2rem;
  font-weight: 500;
}

.form {
  display: flex;
  justify-content: center;
}

.field__input {
  padding: 0.4rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  border: 0.1rem solid var(--clr-grn)
}

.submit-btn,
.previous-btn,
.next-btn {
  padding: 0.4rem 2rem;
  border: none;
  background: var(--clr-grn);
  font-weight: bold;
  border: 0.1rem solid var(--clr-grn);
  transition: all 0.25s;
  text-decoration: none;
  color: var(--clr-blk);
  font-size: 1.3rem;
}

.submit-btn:hover,
.previous-btn:hover,
.next-btn:hover {
  border: 0.1rem solid var(--clr-grn);
  background: var(--clr-blk);
  color: var(--clr-grn);
  cursor: pointer;
}

.submit-btn:active,
.previous-btn:active,
.next-btn:active {
  transform: translate(0.34rem, 0.34rem);
  transition: all 0.1s;
}

.query__output-heading {
  color: var(--clr-grn);
  margin-top: 10rem;
  text-align: center;
}

.links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-grn);
  margin-top: 3rem;
  gap: 5rem;
}

@media screen and (max-width: 900px) {
  .links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--clr-grn);
    margin-top: 3rem;
    gap: 5rem;
  }
}

.link__item {
  margin-bottom: 2rem;
  border: 0.1rem solid var(--clr-grn);
  max-width: 40rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  justify-content: center;
  padding-left: 2%;
}

.item-avatar {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}
.item-name-link {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.name {
  color: var(--clr-grn);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.name-repo-count {
  display: flex
  ;
}

.repo-count {
  text-align: center;
  margin-left: 4rem;
  font-weight: 600;
}

.link {
  color: var(--clr-grn);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  text-wrap: inherit;
}

.pagination {
  width: 100%;
  height: 5rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
}

.previous-btn,
.next-btn {
}
